body {
  background-color: rgb(239, 239, 239);
}

.fondo-nav {
  background-color: rgb(221, 221, 221);
}

.fondo-mod {
  background-color: rgb(173, 219, 88);
}

.estilos-tabla {
  height: 400px;
  width: 100%;
  font-size: 14px;
  overflow: auto;
  text-align: center;
  align-items: center;
}
